
@{
    ViewBag.defaultTab = tabID.tabHome;
    ViewBag.Title = Resources.LocalizedText.SessionExpiredHeader;
    Layout = "~/Areas/mvc/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.LocalizedText.SessionExpiredHeader</h2>

<div>@Resources.LocalizedText.SessionExpiredBody</div>