body {
    width:90%;
    margin-left: auto;
    margin-right:auto;
}

.topForm
{
    border-top: none;
    background-color: #ffffff;
}

.sidebarLeft
{
    width: 100%;
    height: auto;
    text-align:center;
}

.sidebarItem
{
    line-height: normal;
    height: auto;
    padding: 3px;
}

.sidebarRight
{
    width: 90%;
    background-color:transparent;
    margin-left:auto;
    margin-right: auto;
}

.sidebarSelected, .sidebarUnSelected
{
    display: inline-block;
    background-color:transparent;
    font-weight: normal;
    padding: 4px;
    margin: 4px;
    border: none;
    height: auto;
    padding: 3px;
}

.sidebarSelected
{
    font-weight:bold;
}

.sidebarContainer
{
    background-image: url(../images/TabBarGradient.gif);
    background-repeat: repeat-x;
    display: block;
    height: auto;
}
