@using MyFlightbook.Printing
@using System.Globalization
@{
    PDFFooterOptions opt = ViewBag.options;
    int page = ViewBag.page;
    int topage = ViewBag.topage;

    // If we have a cover page, start numbering on the page AFTER the cover.
    if (opt.fCover)
    {
        page--;
        topage--;
    }
    if (page > 0)
    {
        <div>&nbsp;</div>
        <div style="float: right">@(opt.fTotalPages ? String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.PrintedFooterPageCountWithTotals, page, topage) : String.Format(CultureInfo.CurrentCulture, Resources.LocalizedText.PrintedFooterPageCount, page))</div>
        <div>@Resources.LogbookEntry.LogbookCertification @(opt.UserName ?? string.Empty) _____________________________</div>
    }
}