@if (ViewBag.page > 0)
{
<table style="width: 100%">
    <tr>
        <td class="section">
            <div>@Resources.LogbookEntry.LogbookCertification</div>
            <div>@ViewBag.modifiedFooter</div>
        </td>
        <td style="text-align:right; vertical-align: top;">
            @ViewBag.pageNumber
        </td>
    </tr>
</table>
}