@{
    if (ViewBag.IsImpersonating)
    {
        using (Html.BeginForm("StopImpersonation", "MFBTemplate", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            <div style="text-align:center; background-color: beige; width:100%">
                User
                @ViewBag.ImpersonatingUser is impersonating user @User.Identity.Name
                <input type="submit" value="Stop" />
            </div>
        }
    }
}
