<script type="text/javascript">
    function acceptCookies(val) {
        params = new Object();
        params.val = val;
        $.ajax({
            type: "POST",
            url: '@Url.Action("AcceptCookies", "MFBTemplate")',
            data: JSON.stringify(params),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                document.cookie = response.cookie;
                $('#privacyFooter').hide();
            },
            error: function (e) { }
        });
        return false;
    }
</script>
<div id="privacyFooter">
    <p>@Resources.LocalizedText.CookieNotice</p>
    <p class="c">
        <input type="button" onclick="acceptCookies(1)" value="@Resources.LocalizedText.CookieNoticeAccept" />&nbsp;&nbsp;
        <a href="#" onclick="acceptCookies(2); return false;">@Resources.LocalizedText.CookieNoticeAcceptOnlyNecessary</a>
    </p>
</div>
