<span id="@ViewBag.tipID" class="hint">@ViewBag.tipPrompt</span>
@if (!ViewBag.externalSrc)
{
<span id="@ViewBag.tipSrcID" style="display:none">@Html.Raw(ViewBag.tipText)</span>
}
<script type="text/javascript">
    $(function () {
        $("#@ViewBag.tipID").tooltip({
            items: "hoverControlSelector, .hint",
            classes: { "ui-tooltip": "hintPopup itemlabel" },
            content: function () { return $('#@ViewBag.tipSrcID')[0].innerHTML; }
        });
    });
</script>
