<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings />
    <connectionStrings />
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    </system.webServer>
    <location path="stylesheet.css">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" />
            </staticContent>
        </system.webServer>
    </location>
	<location path="Privacy.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/Privacy" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="TandC.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/TandC" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="CFISigs-2012-12.htm">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/CFISigs" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="CFISigs.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/CFISigs" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="CurrencyDisclaimer.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/CurrencyNotes" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="ClubsManual.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/ClubManual" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="ImportTable.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/ImportTable" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="FlightDataKey.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/FlightDataKey" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="About.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/About" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="MobileApps.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/MobileApps" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="PropertyTable.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/PropertyTable" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="FindAirport.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Airport/FindAirports" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="FAQ.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/faq$Q" httpResponseStatus="Permanent" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="MapRoute2.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Airport/MapRoute$Q" httpResponseStatus="Permanent" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="oAuthToken.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../OAuth/oAuthToken.aspx" httpResponseStatus="Permanent" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="AllClubs.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/AllClubs" httpResponseStatus="Permanent" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="ViewPic.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/image/ViewPic$Q" httpResponseStatus="Permanent" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="Unsubscribe.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/unsubscribe$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="ViewSharedLogbook.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/flights/sharedlogbook$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="MyFlights.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/flights/myflights$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="Export.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/flights/export$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="SignEntry.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/flightedit/signmobile$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="CloudAhoyRedir.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/oAuth/CloudAhoyRedir$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="OneDriveRedir.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/oAuth/OneDriveRedir$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="LeonRedir.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/oAuth/ManageLeon$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="ContactMe.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/contact$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="RSSCurrency.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/pub/rss$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="developer.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/oauth" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="authredir.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/auth/authredir$Q" httpResponseStatus="Found" exactDestination="true" />
		</system.webServer>
	</location>
</configuration>
