<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" urlLinePragmas="true">
      <assemblies>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
	<location path="Airports.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Airport/VisitedAirports" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Logbook.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="LogbookNew.aspx" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Game.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Airport/Game" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="FlightAnalysis.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Flights/Details$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="FlightDetail.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Flights/Details$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Makes.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Aircraft/Makes$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="EditMake.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Aircraft/ViewModel$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Achievements.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Training/Achievements" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Aircraft.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Aircraft$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="RatingProgress.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Training/RatingsProgress$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Training.aspx/instEndorsements">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/Endorsements" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Training.aspx/instInstructors">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/Instructors" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Training.aspx/instStudents">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/Students" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="Training.aspx/instSignFlights">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/RequestSigs" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="8710Form.aspx/8710">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/Reports/8710" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="8710Form.aspx/Model">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/Reports/Model" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="8710Form.aspx/Time">
		<system.webServer>
			<httpRedirect enabled="true" destination="../../mvc/Training/Reports/Time" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="AddRelationship.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/Training/AddRelationship$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="oAuthAuthorize.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/oAuth/Authorize$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
	<location path="MiniRecents.aspx">
		<system.webServer>
			<httpRedirect enabled="true" destination="../mvc/flights/minirecents$Q" httpResponseStatus="Found" />
		</system.webServer>
	</location>
</configuration>
