@if (ViewBag.DupeUsers.Count != 0)
{
    <ul>
        @foreach (string szUser in ViewBag.DupeUsers)
        {
            <li>@szUser</li>
        }
    </ul>
}
else
{
    <div>(No duplicates found)</div>
}