@{
    Layout = null;
    LogbookBackup logbookBackup = ViewBag.logbookBackup;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@("~/public/stylesheet.css".ToAbsolute())" rel="stylesheet" type="text/css" />
</head>
<body style="width: 100%; margin-left: 0; margin-right: 0;">
    <div>
        @Html.Raw(logbookBackup.WriteLogbookCSVToHtml());
    </div>
</body>
</html>
