<?xml version="1.0"?>
<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Set "ShuntState" to "Shunted" to shunt the site. -->
  <add key="ShuntState" value="" />
  <add key="ShuntMessage" value="%APP_NAME% is currently down for maintenance and will be back shortly.  We hope to be back by 2am PDT (9am Zulu) We apologize for the inconvenience!  See our Facebook page for progress updates." />

  <!-- The following keys specify the root directories for images where thumbnails (or raw telemetry) is stored -->
  <add key="AircraftPixDir" value="~/images/aircraft/id/" />
  <add key="FlightsPixDir" value="~/images/flights/" />
  <add key="BasicMedDir" value="~/images/basicmed/" />
  <add key="TelemetryDir" value="~/images/telemetry" />
  <add key="EndorsementsPixDir" value="~/images/Endorsements/" />
  <add key="OfflineEndorsementsPixDir" value="~/images/OfflineEndorsements/" />
  
  <!-- Set "UseOOF" to "yes" to auto-respond to ContactMe requests -->
  <add key="UseOOF" value="no" />
  
  <!-- Set "UseImageDB" to "yes" to use the DB to track images.-->
  <add key="UseImageDB" value="yes" />
</appSettings>
