<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="19.1.0" targetFramework="net472" />
  <package id="AjaxControlToolkit.HtmlEditor.Sanitizer" version="19.1.0" targetFramework="net472" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net472" />
  <package id="AWSSDK" version="2.3.55.2" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.3.104.8" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.110.3" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="DDay.iCal" version="2.0.0" targetFramework="net472" />
  <package id="DotNetOpenAuth" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.4.13329" targetFramework="net472" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.4.13329" targetFramework="net472" />
  <package id="Dropbox.Api" version="4.9.4" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.17" targetFramework="net472" />
  <package id="Ical.Net" version="2.2.3" targetFramework="net472" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.14.5" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.OneDriveSDK" version="1.1.47" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="WebGrease" version="1.6.0" targetFramework="net472" />
</packages>