<h2>MVCTest Page Home</h2>
<p>@ViewBag.WelcomeMessage</p>
<img src="https://myflightbook.com/logbook/images/aircraft/id/31/t_20130428185828924512721_.jpg" onclick="javascript:viewMFBImg('https://s3.amazonaws.com/mfbimages/logbook/images/aircraft/id/31/20130428185828924512721_.jpg')" />

