<p>
    <span style="font-weight:bold; font-size: larger"><% Requestor %></span> has asked you to ensure that the WINGS activities below are 
    reflected on the FAASafety Website (https://www.faasafety.gov/cfi/pub/cfiactivitygivecredit_1.aspx).
</p>
<ul>
    <% FlightsList %>
</ul>
<p>If you have not yet recorded these activities, please click the link above to do so, and then let <% Requestor %> know that it has been done.</p>
<p>If <% Requestor %> has completed a WINGS Phase, you may also wish to issue an endorsement to them reflecting that fact, which you can do at
    <% EndorseStudentLink %>
</p>
