<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Verify Email on %APP_NAME%</title>
    <link href="http://%APP_URL%%APP_ROOT%/Public/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body style="font-family: Arial; font-size: 9pt; margin-left: auto; margin-right: auto; min-width: 300px;">
    <p>
        <img alt="%APP_NAME% Logo" src="https://%APP_URL%%APP_LOGO%" />
    </p>
    <p>%APP_NAME% is asking you to verify that you are the owner of the email address <% email %>.</p>
    <p>
        Please click on <a href="<% confirmaddress %>">this link</a> to confirm your address.  This link is valid for one hour.
    </p>
    <p>Thank-you</p>
    <p>
        Sincerely,<br />The MyFlightbook Team
        <br /><br />
        MyFlightbook LLC
    </p>
    <p>THIS IS AN AUTOMATED MESSAGE; PLEASE DO NOT REPLY.  IF YOU WISH TO CONTACT US, PLEASE VISIT <a href="https://%APP_URL%%APP_ROOT%/Public/ContactMe.aspx">HERE</a>.</p>
</body>
</html>
